<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.securemessaging">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".SecureMessagingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".view.activity.FingerprintAuthenticationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.CHOOSER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAction" />
        <activity
            android:name=".view.activity.SelectWallet"
            android:screenOrientation="portrait"
            android:theme="@style/noAction" />
        <activity
            android:name=".view.activity.WalletInformation"
            android:screenOrientation="portrait"
            android:theme="@style/noAction" />
        <activity
            android:name=".view.activity.SendingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAction" />
        <activity
            android:name=".view.activity.FailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAction" />
        <activity
            android:name=".view.activity.SuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAction" />
        <activity
            android:name=".view.activity.InboxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAction" />
        <activity
            android:name=".view.activity.SentMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAction" />
        <activity
            android:name=".view.activity.CreateMessage"
            android:screenOrientation="portrait"
            android:theme="@style/noAction"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.CreateMessageWithBitAttach"
            android:screenOrientation="portrait"
            android:theme="@style/noAction"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.BitAttachInboxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAction"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.SelectFiles"
            android:screenOrientation="portrait"
            android:theme="@style/noAction"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.NFCAuthenticationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAction"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.IRISAuthenticationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAction"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.TransactionQr"
            android:screenOrientation="portrait"
            android:theme="@style/noAction"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.DeviceTokenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/noAction"
            android:windowSoftInputMode="stateHidden" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".receiver.NotificationReceiver">
            <intent-filter>
                <action android:name="com.embedded.download.intent.action.Notification" />
            </intent-filter>
        </receiver>
        <receiver android:name="receivers.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="@string/app_key"
            android:value="@string/app_key_value" />

        <activity android:name=".view.activity.SelectWalletType" />
        <activity android:name=".view.activity.ReceiveAddressActivity" />
        <activity android:name=".view.activity.ScanReceiverAddressActivity"></activity>
    </application>

</manifest>